body {
    background-color: #b89b88;
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-width: 320px;
    min-height: 100vh;
    margin: 0; 
}

#root {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    font-weight: 500;color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}